<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="sql-text-input-file" value="C:\Users\athasarathan\Desktop\stuff\testdata\proc1.txt"/>
  </appSettings>
</configuration>